/node_modules/
/public/build/
/app/bundle/build

.DS_Store
venv/
__pycache__/
*.db
.idea/
.DS_store
.env
.vscode/
logs/
logs/
.mypy_cache/
app/bundle/
*.rdb
.sqlite
debug_app.sh
.stubs/

*.crt
*.csr
*.key
*.sqlite
