/node_modules/
/public/build/

.DS_Store
venv/
__pycache__/
*.db
.idea/
.DS_store
.flaskenv
.vscode/
logs/
.flaskenv
logs/
.mypy_cache/
app/bundle/
*.rdb

debug_app.sh
.stubs/

*.crt
*.csr
*.key
