*:focus {
    outline: none;
}

#main-content {
    overflow: hidden;
    height: 100vh;
}

#calendar {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0 75%;
    display: grid;
    /* 85px is the height of the button bar, navbar, horizontal bar margin, and body margin */
    height: calc(100vh - 85px);
    z-index: 1;
    opacity: 1;
    align-self: flex-start;
    grid-template-columns: repeat(7, 1fr);
}

#calendar.moving-left {
    animation: slide-right 0.15s ease-in;
    opacity: 0;
}

#calendar.moving-right {
    animation: slide-left 0.15s ease-in;
    opacity: 0;
}

#calendar.transitionable {
    transition: opacity 0.15s ease-out;
}

@keyframes slide-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.calendar-row {
    grid-column: 1 / 8;
    border: 1px solid gray;
}

#header {
    display: grid;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
}

.header > div {
    cursor: pointer;
}

.header {
    grid-row-gap: 5px;
    border-color: gray;
    margin-bottom: 5px;
    grid-template-rows: 25px;
    line-height: 24px;
}

.calendar-row:not(#header) > * {
    display: grid;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-row:not(#header) > .header > div:not(:last-child) {
    border-right: 1px solid gray;
}

.calendar-row:not(#header) > .header > div {
    border-bottom: 1px solid gray;
    vertical-align: middle;
}

.header > div.today-wrapper {
    display: flex;
    justify-content: center;   
}

#today {
    color: white;
    border-radius: 50%;
    background-color: blue;
    height: 24px;
    width: 25px;
}

.other-month {
    color: gray;
}

.unused {
    display: none;
}

.event-row {
    grid-auto-rows: 20px;
    grid-auto-flow: row dense;
    transition: transform 0.3s, opacity 0.3s;
    grid-gap: 5px;
    margin-bottom: 5px;
    min-height: 60px;
}

.event-row-skeleton {
    grid-template-rows: repeat(3, 15px);
}

.event-row div {
    border-radius: 3px;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.3s, opacity 0.3s;
}

.event-row div.added {
    opacity: 0;
    transform: translateY(20px);
}

.event-row div.shown {
    opacity: 1;
    cursor: pointer;
    transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;        /* fallback */
    max-height: 45px;       /* fallback */
}

.event-row div.filtered {
    color: gray !important;
    background-color: rgba(128, 128, 128, 0.2) !important;
}

.skeleton {
    height: 15px;
    opacity: 1;
    border-radius: 3px;
    overflow: hidden;
    transform: none;
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(to right, rgb(175,175,175), rgba(175, 175, 175, 0.333), rgb(175,175,175));
    background-size: 200% 15px;
    animation: loading 1.5s infinite;
}

@media only screen and (max-width: 950px) and (min-width: 650px) {
    .event-row, .event-row-skeleton {
        grid-auto-rows: 20px;
    }
    .event-row > div {
        grid-row-end: calc(var(--start-row) + 1);
    }
}

@media only screen and (max-width: 650px) {
    .event-row {
        overflow: hidden;
        text-indent: 100%;
        grid-auto-rows: 2px;
    }
    .event-row div.skeleton {
        height: 5px;
    }
    .event-row:empty {
        grid-template-rows: repeat(2, 5px);
    }
    .event-row-skeleton {
        grid-template-rows: repeat(3, 5px);
    }
}

@keyframes loading {
    50% {
        background-position: 100% 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}

#filter-editor h1 {
    margin-top: 0px;
    font-size: 20px;
}

button.large-button, input[type="submit"] {
    border-radius: 5px;
    font-size: 15px;
    color: white;
    transition: all 0.3s;
    border: 1px solid white;
    background-color: #29b6f6;
    width: 75%;
    height: 40px;
}

button.large-button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    color: #29b6f6;
    border: 1px solid #29b6f6;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

button.large-button:active, input[type="submit"]:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.8);
}

#filter-editor {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1 0 25%;
    align-items: center;
    position: relative;
    height: 100vh;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
}

#button-panel {
    display: flex;
    flex-wrap: nowrap;
}

#current-date {
    flex: 0 0 10%;
}

.month-changer {
    flex: 0 1 25%;
}

.course-filter {
    width: 100%;
}

.course-filter-layout {
    width: 100%;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    display: flex;
}

.course-input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid gray;
    flex-wrap: wrap;
    transition: border-bottom 0.3s;
    font-size: 12px;
    line-height: 12px;
    width: 90%;
    display: flex;
}

.course-chooser {
    flex: 1 1 145px;
    border: none;
    position: relative;
    font-size: 12px;
    height: 20px;
    width: 145px;
    min-width: 75px;
}

#identifier-complete {
    display: none;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    border-radius: 5px;
    padding: 7px 0px;
    overflow-y: auto;
    max-height: 200px;
    flex-wrap: wrap;
}

#identifier-complete > * {
    flex: 1 0 100%;
    text-overflow: ellipsis;
    height: 30px;
    padding: 10px 0px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

#identifier-complete > *:not(p):hover, #identifier-complete > *.selected {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
}

.course-identifier-wrapper {
    display: flex;
    justify-content: space-between;
}

.course-identifier-wrapper > div {
    flex: 0 0 auto;
    background: url('https://app.schoology.com/sites/all/themes/schoology_theme/images/icons_sprite_realm.png?5d0d37111b9f09da') no-repeat right;
    height: 20px;
    align-self: center;
    width: 30px;
    margin: 0px;
}

.course-identifier-wrapper[data-realm='section'] > div {
    background-position-y: -29px;
}

.course-identifier-wrapper[data-realm='group'] > div {
    background-position-y: -59px;
}

.course-identifier-wrapper[data-realm='user'] > div {
    background-position-y: -179px;
}

.course-identifier-wrapper[data-realm='school'] > div {
    background-position-y: -209px;
}

.course-identifier-wrapper[data-realm='district'] > div {
    background-position-y: -209px;
    background-repeat: repeat-x;
    background-position-x: 17px;
    margin-right: 3px;
}

.course-identifier-wrapper > p {
    align-self: center;
    margin-right: auto;
}

.recognized-course {
    flex: 0 0 auto;
    background-color: gray;
    line-height: 13px;
    color: white;
    height: 20px;
    border-radius: 15px;
    padding: 0px 5px;
    margin-bottom: 1px;
    margin-right: 3px;
}

.recognized-course > * {
    display: inline-block;
    vertical-align: middle;
}

.delete-icon {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
}
#save-element {
    align-self: center;
    justify-self: flex-end;
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: 20px;
}
#save-filters-bar {
    width: 100%;
    margin: 10px 0px;
    display: flex;
}
#save-filters-bar > p {
    font-size: 10px;
    color: gray;
    margin: 0px 20px;
    align-self: center;
    justify-self: flex-start;
}