* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*:focus {
    outline: none;
}

#calendar {
    flex: 1 0 75%;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-row {
    grid-column: 1 / 8;
    border: 1px solid gray;
}

#header {
    display: grid;
    font-weight: bold;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
}

.header > div {
    cursor: pointer;
}

.header {
    grid-row-gap: 5px;
    border-color: gray;
    margin-bottom: 5px;
    grid-template-rows: 25px;
    line-height: 24px;
}

.calendar-row:not(#header) > * {
    display: grid;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-row:not(#header) > .header > div:not(:last-child) {
    border-right: 1px solid gray;
}

.calendar-row:not(#header) > .header > div {
    border-bottom: 1px solid gray;
    vertical-align: middle;
}

.header > div.today-wrapper {
    display: flex;
    justify-content: center;   
}

#today {
    color: white;
    border-radius: 50%;
    background-color: blue;
    height: 24px;
    width: 24px;
}

.event-row {
    grid-auto-rows: 20px;
    grid-auto-flow: row dense;
    transition: transform 0.3s, opacity 0.3s;
    grid-gap: 5px;
    margin-bottom: 5px;
}

.event-row:empty, .event-row-skeleton {
    grid-template-rows: repeat(3, 15px);
}

.event-row div {
    border-radius: 3px;
    font-size: 13px;
    transition: transform 0.3s, opacity 0.3s;
}

.event-row div.added {
    opacity: 0;
    transform: translateY(20px);
}

.event-row div.shown {
    opacity: 1;
    cursor: pointer;
    transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;        /* fallback */
    max-height: 45px;       /* fallback */
}

.event-row div.filtered {
    color: gray !important;
    background-color: rgba(128, 128, 128, 0.2) !important;
}

.skeleton {
    height: 15px;
    opacity: 1;
    border-radius: 3px;
    overflow: hidden;
    transform: none;
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(to right, rgb(175,175,175), rgba(175, 175, 175, 0.333), rgb(175,175,175));
    background-size: 200% 15px;
    animation: loading 1.5s infinite;
}

@media only screen and (max-width: 950px) and (min-width: 650px) {
    .event-row, .event-row-skeleton {
        grid-auto-rows: 20px;
    }
    .event-row > div {
        grid-row-end: calc(var(--start-row) + 1);
    }
}

@media only screen and (max-width: 650px) {
    .event-row {
        overflow: hidden;
        text-indent: 100%;
        grid-auto-rows: 2px;
    }
    .event-row div.skeleton {
        height: 5px;
    }
    .event-row:empty {
        grid-template-rows: repeat(2, 5px);
    }
    .event-row-skeleton {
        grid-template-rows: repeat(3, 5px);
    }
}

@keyframes loading {
    50% {
        background-position: 100% 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}
/* For skeleton layout */
ul > li {
    transition: all 0.3s ease;
    margin-bottom: 5px;
    transform: translateY(20px);
    opacity: 0;
    height: 0px;
}

ul.shown > li {
    height: auto;
    transform: none;
    opacity: 1;
}

#event-list {
    --width: 400px;
    width: var(--width);
    position: relative;
}

#filter-editor h1 {
    margin-top: 0px;
    font-size: 20px;
}

button {
    border-radius: 5px;
    font-size: 15px;
    transition: box-shadow 0.3s;
    border: 1px solid darkgray;
    background-color: beige;
    width: 75%;
    height: 40px;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px 3px #ccc;
}

button:active {
    box-shadow: inset 4px 4px 4px #ccc;
}

#filter-editor {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1 0 25%;
    align-items: center;
    /*--width: 250px;*/
    /*width: var(--width);*/
    position: relative;
    height: 100%;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
}

#button-panel {
    display: flex;
    flex-wrap: nowrap;
}