ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

@keyframes loading {
    50% {
        background-position: 100% 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}

.grid {
    display: grid;
    height: 300px;
    width: 75%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid * {
    margin-top: -1px;
    margin-left: 0px;
    grid-row: 2;
}

.grid > * {
    text-align: center;
    border: 1px solid red;
}

.grid > *:not(:first-child) {
    margin-left: -1px;
}

/* For skeleton layout */
ul > li {
    transition: all 0.3s ease;
    margin-bottom: 5px;
    transform: translateY(20px);
    opacity: 0;
    height: 0px;
}

ul.shown > li {
    height: auto;
    transform: none;
    opacity: 1;
}
/* For skeleton layout */

#main-content {
    max-width: 100vw;
    overflow: hidden;
    display: flex;
}

#event-list {
    --width: 400px;
    width: var(--width);
    position: relative;
}

#filter-list-ul {
    --width: 250px;
    width: var(--width);
    position: relative;
    height: 100px;
    margin-left: auto;
}

#calendar-grid {
    position: relative;
}