main {
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

form {
    display: contents;
}

section {
    padding: 2.5em 0px;
}

section#domain-examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

p {
    line-height: 1.2;
    max-width: 10in;
}

div.example {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.example > img {
    margin: 5px;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 100%;
}

label {
    vertical-align: middle;
}