* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
textarea {
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    resize: none;
}
input[type="text"] {
    outline: none;
}
p {
    margin: 0px;
}
fieldset {
    padding: 0px;
}
main:first-of-type {
    position: relative;
    top: var(--header-height);
}
p.caption {
    font-size: 15px;
    color: rgb(102, 102, 102);
}
.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: relative;
    display: none;
    width: 24px;
    height: 24px;
}
.spinner > .path {
    stroke: rgba(0, 183, 255, 0.979);
    /*stroke-linecap: round;*/
    animation: dash 1.5s ease-in-out infinite;
}
fieldset.input,
span,
legend {
    position: relative;
}

fieldset.input {
    --input-width: 60px;
    --input-size: 16;
    --input-font-size: calc(var(--input-size) * 1px);
    display: inline-block;
    vertical-align: middle;
    border: 2px solid gray;
    margin-right: 10px;
    position: relative;
    padding: 0px 5px 5px 5px;
    border-radius: 3px;
    width: var(--input-width);
    transition: border-color 200ms ease-out;
}

fieldset.input:focus-within {
    border-color: #29b6f6;
}

legend {
    height: var(--input-font-size);
    line-height: var(--input-font-size);
}

span::before {
    position: absolute;
    width: max-content;
    top: -5px;
    bottom: 0;
    line-height: 1;
    font-size: var(--input-font-size);
    transition: transform 150ms, color 150ms;
    transform-origin: left;
    transform: translate(0px) scale(calc(12 / var(--input-size)));
    color: #29b6f6;
    pointer-events: none;
    content: attr(data-text);
    opacity: 1;
}

input {
    width: var(--input-width);
    opacity: 1;
    border: none;
    transition: opacity 200ms ease-out 200ms;
}

span::after {
    content: attr(data-text);
    position: relative;
    display: inline-block;
    opacity: 0;
}

input:placeholder-shown:not(:focus) + legend span::after {
    content: '';
}

input:placeholder-shown:not(:focus) + legend span::before {
    /* Calculate ratio from old font size to new font size to put into scale transform */
    transform: translateY(calc(var(--input-font-size) + 3.5px)) scale(1);
    color: gray;
    width: max-content;
    padding-left: 2px;
}

input:not(:focus):not(:placeholder-shown) + legend span::before {
    color: gray;
}

input:placeholder-shown:not(:focus) + legend {
    padding: 0px;
}

input::placeholder {
    transition: opacity 150ms;
    opacity: 0;
}

input:focus::placeholder {
    opacity: 1;
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
      stroke-dasharray: 1, 75;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 45, 75;
      stroke-dashoffset: -18;
    }
    100% {
      stroke-dasharray: 45, 75;
      stroke-dashoffset: -62;
    }
}
.icon-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    padding: 0px;
}
.icon-button div {
    position: absolute;
    height: calc(100% * 1.5);
    width: calc(100% * 1.5);
    background-color: rgba(109, 111, 115, 0.5);
    border-radius: 50%;
    top: -25%;
    z-index: -1;
    left: -25%;
    opacity: 0;
    transform: scale(0);
}
.icon-button.active > div {
    animation: background-expand 0.15s ease-in-out forwards;
}
.icon-button:not(.active) > div {
    animation: background-fade 0.15s ease-in backwards;
}
.small-button {
    color: #29b6f6;
    background: none;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    transition: all 0.15s ease;
}
.small-button:hover, .small-button:focus {
    background-color: rgba(41, 182, 246, 0.1);
    outline: none;
}
.small-button:active {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(54, 188, 250, 0.33);
}
@keyframes background-expand {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes background-fade {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    99% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
