* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    resize: none;
}
input[type="text"] {
    outline: none;
}
p {
    margin: 0px;
}
fieldset {
    padding: 0px;
}