<!-- <form action="/calendar/filter" method="post"> -->
<form id="filter-form-{{ filter.id }}" class="course-filter" enctype="multipart/form-data">
    <fieldset class="course-filter-layout">
        <legend>Filter Id: {{ filter.id }}</legend>
        <input class="filter-type" type="checkbox" value="checked">Enabled</button>
        <div class="course-input">
            {% for id in filter.course_ids %}
                <div class="recognized-course" data-course-name="{{ id.course_name }}" data-course-id="{{ id.course_id }}" data-realm="{{ id.course_realm }}">
                    <div>{{ id.course_name }}</div>
                    <img class="delete-icon" src="/static/img/close.svg">
                </div>
            {% endfor %}
            <input class="course-chooser" type="text" placeholder="Add Course">
        </div>
        <input type="submit" class="form-submit" value="Submit Form">
    </fieldset>
</form>
<!-- </form> -->