<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#29b6f6">
        {% if title %}
        <title>{{ title }} - {{ config.APP_NAME }}</title>
        {% else %}
        <title>{{ config.APP_NAME }}</title>
        {% endif %}
        <link rel="icon" href="https://img.icons8.com/metro/28/000000/calendar-{{ date.day }}.png" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flashed_messages.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="shown">
            <nav>
                <a href="{{ url_for('main.index') }}">Calendar Mixer</a>
                <a href="{{ url_for('main.about') }}">About</a>
                <a href="{{ url_for('main.privacy') }}">Privacy</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('main.login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('calendar.calendar') }}">Calendar</a>
                <!-- <ul>
                    <li><a href="{{ url_for('oauth.logout') }}">Logout</a></li>
                </ul> -->
                <div class="profile-icon">
                    <img id="profile-icon-img" src="{{ current_user.profile_picture_url }}">
                    <ul class="navbar-dropdown">
                        <li><a href="{{ url_for('oauth.logout') }}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
                {% block navbar %}{% endblock %}
            </nav>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashed-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
