{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/calendar.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/forms.js" defer></script>
    <script type="text/javascript" src="/static/js/calendar.js" defer></script>
    {% if colors is defined %}
    <script type="text/javascript">var savedColors = {{ colors }};</script>
    {% endif %}
    <script type="text/javascript">let csrf_token = "{{ csrf_token() }}";$.ajaxSetup({beforeSend: function(xhr, settings) {if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {xhr.setRequestHeader("X-CSRFToken", csrf_token);}}});</script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div id="button-panel">
        <p id="current-date"></p> 
        <button class="month-changer large-button" id="previous-month"></button>
        <button class="month-changer large-button" id="next-month"></button>
        <button class="small-button" id="export-feed" data-ical-link="webcal://{{ base_url }}calendar/ical/{{ id }}/{{ ical_secret }}/calendar.ics">EXPORT CALENDAR</button>
    </div>
    <div id="main-content">
        <div id="calendar" class="shown">
            <div id="header" class="calendar-row">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            {% for i in range(1, 7) %}
                {% include '_calendar_row.html' %}
            {% endfor %}
        </div>
        <div id="filter-editor">
            <h1>Edit Filters</h1>
            <div id="save-filters-bar">
                <p>Click to save filters</p>
                <div id="save-element">
                    <button id="save-button" class="icon-button icon-loader">
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" tabindex="0">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
                        </svg>
                    </button>
                    <svg class="spinner" viewBox="0 0 24 24">
                        <circle class="path" cx="12" cy="12" r="10" fill="none" stroke-width="3"></circle>
                    </svg>
                </div> 
            </div>
            <button class="large-button" id="add-filter">Add Filter</button>
            <form id="filter-form-1" data-filter-id="1" class="course-filter" enctype="multipart/form-data">
            <fieldset class="course-filter-layout">
                <legend>Filter Id: 1</legend>
                <input class="filter-type" type="checkbox">Positive Filter
                <div class="course-input">
                    <input class="course-chooser" type="text" placeholder="Add Course">
                </div>
                <input type="submit" class="form-submit" value="Save Filter">
            </fieldset>
            </form>
        </div>
        <div id="event-list"></div>
    </div>
    {% raw %}
    <script id="recognized-course-template" type="x-tmpl-mustache">
    <div class="recognized-course" data-course-name="{{name}}" data-course-id="{{id}}" data-realm="{{realm}}">
        <div>{{name}}</div>
        <img class="delete-icon" src="/static/img/close.svg">
    </div>
    </script>
    <script id="filter-template" type="x-tmpl-mustache">
    <form id="filter-form-{{id}}" data-filter-id="{{id}}" class="course-filter" enctype="multipart/form-data">
        <fieldset class="course-filter-layout">
            <legend>Filter Id: {{id}}</legend>
            <input class="filter-type" type="checkbox"
            {{#positive}}
            checked
            {{/positive}}
            >Positive Filter
            <div class="course-input">
                {{#course_ids}}
                    {{> recognized-course-template}}
                {{/course_ids}}
                <input class="course-chooser" type="text" placeholder="Add Course">
            </div>
            <input type="submit" class="form-submit" value="Save Filter">
        </fieldset>
    </form>
    </script>
    <script id="modal-template" type="x-tmpl-mustache">
        <div class="modal">
            <div class="modal-header">
                <p class="modal-header-title">{{title}}</p>
                <img src="/images/close.svg">
            </div>
            <div class="modal-body">
                {{modal_body}}
            </div>
        </div>
    </script>
    <script id="popper-item-template" type="x-tmpl-mustache">
    <div class="course-identifier-wrapper" data-realm="{{realm}}">
        <div></div>
        {{#start_pos}}
        <p>{{name_begin}}<span style="font-weight: bold;">{{bold}}</span>{{name_end}}</p>
        {{/start_pos}}
        {{^start_pos}}
        <p>{{name}}</p>
        {{/start_pos}}
    </div>
    </script>
    {% endraw %}
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/calendar-structure.js"></script>
    <script type="text/javascript" src="/static/js/mustache.min.js"></script>
    <div id="identifier-complete"></div>
{% endblock %}
