{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar.js') }}" async></script>
    {% if colors is not none %}
    <script type="text/javascript">var savedColors = {{ colors }};</script>
    {% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div id="button-panel">
        <p id="current-date"></p> 
        <button class="month-changer" id="previous-month"></button>
        <button class="month-changer" id="next-month"></button>
    </div>
    <div id="main-content">
        <div id="calendar">
            <div id="header" class="calendar-row">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            {% for i in range(1, 7) %}
                {% include '_calendar_row.html' %}
            {% endfor %}
        </div>
        <div id="filter-editor">
            <h1>Edit Filters</h1>
            {% for filter in filters %}
                {% include '_filter.html' %}
            {% endfor %}
            <button id="add-filter">Add Filter</button>
        </div>
        <div id="event-list"></div>
    </div>
    <ul id="event-list" class="skeleton"></ul>
    <ul id="filter-list-ul" class="skeleton"></ul>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/calendar-structure.js') }}"></script>
{% endblock %}