{% extends "base.html" %}

{% block head %}
    <meta name="description" content="View your Schoology Calendar events in an alternative fashion. Add filters and alarms to your courses.">
    <script>const csrf_token = "{{ csrf_token() }}";</script>
    <script>const ical_link = "webcal://{{ base_url }}calendar/ical/{{ id }}/{{ ical_secret }}/calendar.ics";</script>
    <!-- <link href="/calendar/bundle/css/external.css" rel="stylesheet"> -->
    <script type="module" src="/calendar/bundle/build/main.js" defer></script>
    <style>
    @media only screen and (max-width: 1015px) {
        body {
            overflow-y: auto;
        }
    }
    </style>
{% endblock %}

{% block content %}
    <main id="calendar-mixer"></main>
{% endblock %}
