{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<meta name="description" content="Calendar Mixer lets you filter, export feeds, and add alarms to your Schoology Calendar. Works with Google Calendar and other Calendar applications.">
<style>
:root {
    --flashed-messages-display: block;
}
</style>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}
<main>
    <div id="main-info">
        <h2>Calendar Mixer</h2>
        <a href="{{ url_for('calendar.calendar') }}">
            {% if current_user.is_anonymous %}
                <button class="small-button">Sign in to view your Calendar</button>
            {% else %}
                <button class="small-button">View your Calendar</button>
            {% endif %}
        </a>
    </div>
    <div id="main-image">
        <object id="calendar-svg-obj" data="/static/img/calendar.svg" type="image/svg+xml" width="100%" height="100%">
            <img src="/static/img/calendar.svg">
        </object>
    </div>
</main>
{% endblock %}
