{% extends "base.html" %}

{% block content %}
    <h1>Privacy Information</h1>
    <h2>Schoology Data</h2>
    <h3>Schoology Data We Store</h3>
    <p>In order to provide quick and efficient access to your calendar, we need to store some of your personal schoology data on our own servers. All specific information is listed below, along with its usage for your experience:</p>
    <p>User info:
    
    <ol>
        <li>Identifies your account from an external application attempting to access your calendar. (e.x. Google Calendar). Does not provide authentication</li>
        <li>Primary key for user data</li>
    </ol>
    </p>
    <h3>Schoology Data We Access</h3>
    <p>Most of the Schoology Data we use is only viewed on a per request basis. This means that it is not stored by our website's persistent storage, but it may exist in a user-specific cache for a short amount of time.</p>
    <p>Realm Identifiers (Groups, Courses, Schools, etc.)
    <ol>
    </ol>
    </p>
{% endblock %}

