{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ profile['picture_url'] }}"></td>
            <td>
                <h1>User: {{ current_user.username }}</h1>
                {% if current_user.about_me %}<p>{{ current_user.about_me }}</p>{% endif %}
                <p>Last seen: <em>Never</em> :(</p>
            </td>
        </tr>
    </table>
    {% if user == current_user %}
        <p><a href="#">Edit your profile</a></p>
    {% endif %}
    <hr>
{#    {% for post in posts %}#}
{#        {% include '_post.html' %}#}
{#    {% endfor %}#}
{% endblock %}